:root {
    --light: #F0FFFF;
    --dark: #606060;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--light);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.nav {
    grid-column: 1/3;
    background: var(--dark);
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav ul li {
    margin: 20px;
    color: var(--light);
}